<header class="header">
    <a href="/" class="header__logo">LOGO</a>
    <input class="header__menu-btn" type="checkbox" id="header__menu-btn" />
    <label class="header__menu-icon" for="header__menu-btn"><span class="header__navicon"></span></label>
    <ul class="header__menu">
        <li><a href="/blogposts/">Posts</a></li>
        <li><a href="/contact/">Contact</a></li>
    </ul>
</header>
<div class="header__pusher"></div>